{{{sectionLeft}}}  
<main>
<{{tag}} class="profile-container">
  <img alt="user avatar" id="profileAvatar" src="{{avatarUrl}}" onclick="document.getElementById('avatarUpload').click()">
  <input id="avatarUpload" type="file" name="avatar" placeholder="Avatar photo" />
  <h1 class="header">{{name}}</h1>
  <div class="profile-container__info">
    {{#each infos}}
      {{{this}}}
    {{/each}}
  </div>
  <div class="{{class_}}">
    {{#if isInEditMode}} 
      {{{btn}}} 
    {{else}}
      {{#each links}}
        {{{this}}}
      {{/each}}
    {{/if}}
  </div>
</{{tag}}>
</main>
